body {
    background-color: gray;
    color: white;
}


.line {
    overflow: visible;
    margin-bottom: 2em;

    & > * {
        float:left;
    }
}

#screen {
    border-spacing: 1px;
    margin: 0 1em;

    .pixel {
        width: 1em;
        height: 1em;
        background: white;
        padding: 0;
        margin: 0;
    }

    .on {
        background: black;
    }
}

.bottom {
    clear: both;
}

